<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<!--
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
-->

<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Layout Test Page</title> 
		<script 	src="{{ url_for('static', filename='js/lib/jquery.min.js') }}">
</script>
		<script src="https://cdn.ckeditor.com/4.11.2/full-all/ckeditor.js"></script>
		<script type="text/javascript"
			src="{{ url_for('static', filename='/js/lib/jquery-ui/jquery-latest.js') }}"></script>
		<script type="text/javascript"
			src="{{ url_for('static', filename='/js/lib/jquery-ui/jquery-ui-latest.js') }}"></script>
		<script type="text/javascript"
			src="{{ url_for('static', filename='/js/lib/jquery-ui/jquery-ui-latest.js') }}"></script>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js">/</script>

		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/ComponentEditor.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/ResultIframe.css') }}" />
	 <link rel="stylesheet" href="{{ url_for('static', filename='/css/ComponentEditor.css') }}">












		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/NavigationBar.css') }}" />

		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/treeView.css') }}" />
		<link href='https://fonts.googleapis.com/css?family=Source Code Pro'
			rel='stylesheet' />
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

		<link rel='stylesheet'
			href='//cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/codemirror.css'>
			<link rel='stylesheet'
				href='//cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/theme/material.css'>
				<link rel="stylesheet"
					href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
					<script type="text/javascript" src="{{ url_for('static', filename='js/treeview.js') }}"></script>
					<script src="https://www.w3schools.com/lib/codemirror_jsx.js"></script>



<!--					<script type='module'>-->
<!--import loadComponentsContainer from './js/ComponentsContainer.js';-->
<!--import IndividualComponentEditor from './js/DomEvents.js';-->

<!--window.loadComponentsContainer=loadComponentsContainer;-->
<!--window.IndividualComponenrtEditor=IndividualComponentEditor;-->
<!--</script>-->

					<script
						src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
</head>
<body>











	<div id="destination-container" >
		<div class='background-img-class' alt='plastation' />
	</div>



	<div id="tab-options-section" >
	<button id="close-editor-button" class="button tab-options-button" >FileFactory</button>
	<div class="tab-options" >
		<div id="component-tabs">
			<button class='create-component create-component button tab-options-button' title='calculator' class="button tab-options-button">
				Calculator
			</button>
			<button class='create-component create-component button tab-options-button' title='slideshow' class="button tab-options-button">
				slideshow
			</button>
		</div>

		<div id="create-component-section">

			<div id="create-component-form">
				<input type="text" id="create-component-text-box" name="firstname" class="form-text-box" placeholder="Create Component">
				<button id='create-component-submit-btn'  class="button">create</button>
				<button id='close-create-component-form' class="button" style="
				"> X </button>
			</div>

		<div id='create-component-add-btn' class="dropdown_1">
				<button  class="button dropbtn">+</button>
				<div id="myDropdown-add-component" class="dropdown-content">
				</div>
		</div>
	</div>
    </div>
	</div>































	<!-- result iframe  -->

	<div class="overlay">
		<button id='up-missile' class="button" onclick="closeNav()" class='up-missile'>
			<span style="padding:3px">close</span>
		</button>
		<button id='down-missile' class="button" onclick="openNav()" class='up-missile'>
			<span style="padding:3px">open</span>
		</button>
		<div id='hider-for-resize'></div>
		<div id='result-iframe'  style="background-color:black;">

			<!-- tab-section with contents -->

			<div class="tabset">
			  <!-- Tab 1 -->
			  <input type="radio" name="tabset" id="tab1" aria-controls="videos-tab-section" checked>
			  <label for="tab1">Videos</label>
			  <!-- Tab 2 -->
			  <input type="radio" name="tabset" id="tab2" aria-controls="clock-tab-section">
			  <label for="tab2">Clocks</label>
			  <!-- Tab 3 -->
			  <input type="radio" name="tabset" id="tab3" aria-controls="python-tab-section">
			  <label for="tab3">Python Compiler</label>
			  <!-- Tab 4 -->
			  <input type="radio" name="tabset" id="tab4" aria-controls="dunkles">
			  <label for="tab4">Not Occupied</label>


				<!-- tab-pannels begins -->
			  <div class="tab-panels">
				<section id="videos-tab-section" class="tab-panel">
				  <h2></h2>

							<div id="video-download-section>" style="
								margin-left: 30px;
							">
							<input type="text" id="video-link" placeholder="video-link" style="
								padding: 4px 40px;
								margin: 8px 0;
								box-sizing: border-box;
							">
							<input type="text" id="video-name" placeholder="video-name" style="
								padding: 4px 40px;
								margin: 8px 0;
								box-sizing: border-box;
							">
							<button id="download-video-button" class="button">download</button>
							</div>
							<div id='video-section' style="height: 500px;
    														overflow-y: scroll;
    														width: 101%;">
								<video width="400" controls>
								</video>
							</div>

				</section>



				  <section id="clock-tab-section" class="tab-panel">
				  <h2></h2>
					<iframe src="https://vclock.com/timer/" style="
									width: 1345px;
									height: 550px;
									top: -52px;
									position: relative">
							  </iframe>
					</section>



				  <section id="python-tab-section" class="tab-panel">
				    <h2></h2>
					<iframe src="https://www.programiz.com/python-programming/online-compiler/" style="
									width: 1345px;
									height: 550px;
									top: -52px;
									position: relative">
							  </iframe>
					</section>


				<section id="dunkles" class="tab-panel">
				  <h2>Other Things</h2>
				  <a href="https://chemours.symphonyindai.com/" target="_blank">
								chemours tenant  </a>
				 </br>
			      <a href="https://economictimes.indiatimes.com/commoditysummary/symbol-GOLD.cms" target="_blank">
					  Economic times
				  </a>
				  </br>
				  <a href="https://www.goodreturns.in/gold-rates/" target="_blank">
					  Good Returns
				  </a>


				  <button class="button" onclick="window.open('http://localhost:5000/api/individual-component-fetch/screen-recorder');">Screen Recorder</button>
				</section>
			  </div>

			</div>


		</div>


		<div id='iframe-dragger-button' style="background-color:orange;">
		</div>


	</div>

	<script>
function openNav() {
  //document.getElementById("myNav").style.height = "99%";
  $('#result-iframe').css('height',$(document).height() + 10);
  $('.overlay').css('z-index',5);
}
function closeNav() {
  //document.getElementById("myNav").style.height = "3%";
  document.getElementById("result-iframe").style.height = "20px";
  $('.overlay').css('z-index',4);
}

$(document).ready(function(){

$('#iframe-dragger-button').on('mousedown',function(e1){
		$(this).css('cursor','grabbing');
        e1.preventDefault();
      	$('#result-iframe').css('transition','none');
		$(document).on('mousemove',function(e){
      	   e.preventDefault();
           console.log(e.clientX+"  "+e.clientY);
    	   let height=e.clientY;
   	       if(height>10){
                $('#result-iframe').css('height',height+15);
                $('#hider-for-resize').css('height',height+15);
        		//$('#hider-for-resize').css('background-color','red');
           }
		});
});

	$('#iframe-dragger-button').on('mouseup',function(e1){
      e1.preventDefault();
      $('#result-iframe').css('transition','0.5s');
      $(this).css('cursor','grab');
      $('#hider-for-resize').css('height',0);
	  $('#hider-for-resize').css('background-color','none');
      $(document).unbind('mousemove');
    });
});



</script>
















	<div id='pane'>
		<div class='resizable'>
			<div class='resizers'>
				<div class='resizer top-left'></div>
				<div class='resizer top-right'></div>
				<div class='resizer bottom-left'></div>
				<div class='resizer bottom-right'></div>
				<div id='component-factory-header-icons'>
					<div id='maximize-component-factory'>
						<input id='maximize-input-toggle' type='checkbox'
							style='display: none'> <img for='maximize-input-toggle'
							class='maximize-icon'
							src="https://img.icons8.com/material/64/000000/full-screen.png"></img>
					</div>
					<div id='close-component-results-container'>
						<img class='close-component-results-container-icon'
							src="https://img.icons8.com/color/48/000000/close-window.png">
					</div>

				</div>
				<div id="component-factory-title">Component Factory</div>
				<div id='components-search-container'>
						<div id='left-and-middle-section'>
						<div class="left-corner">
							<div class='left-corner-sub-div'>
								<div id='file-switch' class='component-factory-left-icons'>
									<img src="https://img.icons8.com/ios/50/000000/select-all.png"
										style="position: relative; padding: 1px; height: 100%; width: 100%; left:">
								</div>
								<div id='chat-switch' class='component-factory-left-icons'>
									<img src="https://img.icons8.com/ios/50/000000/select-all.png"
										style="position: relative; padding: 1px; height: 100%; width: 100%; left:">
								</div>
								<div class='component-factory-left-icons'>
									<img src="https://img.icons8.com/ios/50/000000/select-all.png"
										style="position: relative; padding: 1px; height: 100%; width: 100%; left:">
								</div>
								<div class='component-factory-left-icons'>
									<img src="https://img.icons8.com/ios/50/000000/select-all.png"
										style="position: relative; padding: 1px; height: 100%; width: 100%; left:">
								</div>
								<div class='component-factory-left-icons'>
									<img src="https://img.icons8.com/ios/50/000000/select-all.png"
										style="position: relative; padding: 1px; height: 100%; width: 100%; left:">
								</div>

							</div>
						</div>

						<div id='middle-section'>
							<div id='search-container-section' style="width: 10px;height: 10px;">
								<div class="search-container">


									<div class="search-box">
									  <div class="form-group">
										<input type="text" id='search-box' name="firstname" class="line-animation" placeholder="search...">
											<div class="line">
											</div>
									  </div>
  									</div>



									<img  src="https://img.icons8.com/color/48/000000/search.png">
								</div>

								<div id='chat-file-icon-section' style="
									position: absolute;
									right: -85px;
									width: 138px;
									top : 15px">
									<img id='create-new-file' src="https://cdn2.iconfinder.com/data/icons/explore-and-analysis-2/64/76-512.png"
										 style="
									    width: 27px;
										height: 27px;
										display: block;
										left: -20px;
										position: absolute;">
									<img id='single-chat' src="https://cdn2.iconfinder.com/data/icons/explore-and-analysis-2/64/76-512.png" style="
									    width: 27px;
										height: 27px;
										display: block;
										position: absolute;
										left: -76px;">
									<img id='group-chat' src="https://cdn2.iconfinder.com/data/icons/explore-and-analysis-2/64/76-512.png" style="
									    width: 27px;
										height: 27px;
										display: block;
										position: absolute;
										left: -40px;
									}">

								</div>




								<img id ="search-results-close-button" class="close-component-results-container-icon" src="https://img.icons8.com/color/48/000000/close-window.png" style="
									position: absolute;
									background: #f44336;
									margin-top: 5px;
									margin-right: 5px;
									right: 5px;
								">
							</div>

							<div class='search-results'>


							<div id="file-middle-section">
							</div>
							<div id="chat-middle-section">
								<div style="position: relative;" class="list-section">
									<div class="individual-search" id="hrithik" style="
											position: relative;
											left: 0px;	">

									<div style="
											width: 45px;
											height: 45px;">
										<img src="https://img.etimg.com/thumb/msid-67467301,width-650,imgsize-575034,,resizemode-4,quality-100/hrithik-roshan.jpg" alt="sakthiprasath.jpg" style="
											width: 100%;
											height: 100%;
											border-radius: 100%;">

									<div class="search-result-item" style="
											position: absolute;
											top: 24px;
											left: 58px;
											font-family: cursive;
											height:20px;
											">Hrithik</div>
									</div>
									<div style="
											    position: absolute;
										right: 20px;
										bottom: 10px;
										font: small-caption;">online</div>
									</div></div>
									</div>
							</div>


						</div>
					</div>

					<div id='right-side-components'>
						<div id='right-side-components-container'>
						<div id="file-name" class="button" ></div>
						<button class="button" id="editor1-save-button" class="button">save
						</button>

<!--						<iframe src="https://cdpn.io/sakthics25/debug/ZEQNzKN/VJMxxOQDQbvM" style="-->
<!--							width: 100%;-->
<!--							height: 100%;-->
<!--						"></iframe>-->

<!--https://codepen.io/edsonperotoni/pen/OJJZzZq?editors=1010-->
						<textarea id='editor1' contenteditable>
						  <h1>A Heading.</h1>
						  <p>Some text that you can format. Try inserting an image or a link.</p>
						</textarea>

						</div>
						<div class='corner'></div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div id='individual-component-editor-section'></div>

<!--create-component dialog section -->





 <!--password validation for drowssap file opening-->
	<div id="password-validate-dialog" title="Title of dialog">
  		<div id='password-for-drowssap'>
   			<input id='password-content-for-drowssap' type='password' placeholder='password'/>
  			<button class="button" id='password-validate'>check password</button>
  		</div>
	</div>







 <div id="main-sections" >

	<div id='navigation-bar'>

		<div id='sidenav-button-id' class='sidenav-button-class'>
			<span class='sidenav-button-content-class'>>></span></span>
		</div>

		<div id="sidenav-tab-section">Yet to be filled
			</div>


		<div class="sidenav">
			<a href="javascript:void(0)" class="closebtn" style="
				position: absolute;
    			margin-top: 5px;
    			left: 190px;
			">×</a>

			<div class='source-code-tab-content'>




				<!-- tree part staAdd New Brandrts here -->
				<div class="dTree">
					<ul>
						<li><a href="#" >Site</a>
							<ul>
								<li><a href="#" class='file-click' filename="about123">About the Web Site</a></li>
								<li><a href="#" class='file-click' filename="hrithik">Hrithik</a></li>
								<li><a href="#" class='file-click' filename="Roshan">Roshan</a></li>
								<li><a href="#" class='file-click' filename="reshan">Reshan</a></li>
							</ul>
						</li>
						<li><a href="#" >Cars</a>
							<ul>
								<li><a href="#" class='file-click' filename="base64_encoder" title="base64_encoder" >base64_encoder</a></li>
								<li><a href="#" class='file-click'>List All Brand</a></li>
								<li><a href="#" class='file-click'>Mercedes - Benz</a>
									<ul>
										<li><a href="#">About the Mercedes - Benz</a></li>
										<li><a href="#">History</a></li>
										<li><a href="#">Series</a>
											<ul>
												<li><a href="#">A Series</a>
													<ul>
														<li><a href="#">A 140</a></li>
														<li><a href="#">A 150</a></li>
														<li><a href="#">A 180 CDI</a></li>
														<li><a href="#">A 200 CDI</a></li>
													</ul></li>
												<li><a href="#">B Series</a>
													<ul>
														<li><a href="#">B 140</a></li>
														<li><a href="#">B 150</a></li>
														<li><a href="#">B 180 CDI</a></li>
														<li><a href="#">B Special Series</a>
															<ul>
																<li><a href="#">B Extreme</a></li>
																<li><a href="#">B Jumper</a></li>
																<li><a href="#">B Raiden</a></li>
																<li><a href="#">B Subzero</a></li>
															</ul></li>
													</ul></li>
												<li><a href="#">Concept Cars</a></li>
												<li><a href="#">Best Prototypes</a></li>
												<li><a href="#">List all other categories</a></li>
											</ul></li>
										<li><a href="#">Custom Series</a></li>
										<li><a href="#">A+ Series for children</a></li>
										<li><a href="#">B+ Series for women</a></li>
									</ul></li>
								<li><a href="#">Chevrolet</a></li>
								<li><a href="#">Saab Custom models</a></li>
								<li><a href="#">Fiat</a>
									<ul>
										<li><a href="#">Kartal SLX</a></li>
										<li><a href="#">Dogan 1.6 Turbo</a></li>
										<li><a href="#">Sahin</a></li>
										<li><a href="#">Dogan Gorunumlu Sahin</a>
											<ul>
												<li><a href="#">1.3 Motor</a></li>
												<li><a href="#">1.6 Motor</a></li>
												<li><a href="#">1.8 Motor</a></li>
												<li><a href="#">2.0 Motor</a></li>
											</ul></li>
										<li><a href="#">Serce</a></li>
										<li><a href="#">Murat 131</a></li>
									</ul></li>
							</ul></li>
						<li><a href="#">Electronic Models</a></li>
						<li><a href="#">Real Estate</a></li>
						<li><a href="#">Bruce Lee</a></li>
						<li><a href="#">Graphics</a></li>
						<li><a href="#">Smart Phones</a>
							<ul>
								<li><a href="#" class='file-click' filename='distributed_computing_1'>distributed_computing_1</a></li>
								<li><a href="#" class='file-click' filename='distributed_computing_2'>distributed_computing_2</a></li>

								<li><a href="#" class='file-click' filename='LG'>LG</a></li>
								<li><a href="#" class='file-click' filename='Sony'>Sony</a></li>
								<li><a href="#" class='file-click' filename='HTC'>HTC</a></li>
								<li><a href="#" class='file-click' filename='Samsung'>Samsung</a></li>
								<li><a href="#">Samsung</a></li>
								<li><a href="#">Other Models</a>
									<ul>
										<li><a href="#">First other model</a></li>
										<li><a href="#">Second other model</a></li>
									</ul></li>
								<li><a href="#">Add New Model</a></li>
							</ul></li>
					</ul>
				</div>
				<!-- tree part ends here -->

			</div>





		</div>


	</div>

	<script src="{{ url_for('static', filename='js/SourceCodeSection.js') }}"></script>







	<div id='source-code-main-div'>
		<div class='source-code-sub-divs'>
<!--			<div id="close-editor-button">-->
<!--			<img style='height:100%;width:100%;' src="https://img.icons8.com/color/48/000000/suitcase.png">-->
<!--			</div>-->

			<div id='tabs-list-drop-down' class="dropdown">
				<button  class="button dropbtn">CDD</button>
				<div id="myDropdown" class="dropdown-content">
				</div>
			</div>

			<div class='tab-container'>


<script>



/* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
function myFunction() {
}

</script>
			</div>
		</div>
		<link rel='stylesheet'
			href='//cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/codemirror.css'>
		<link href='https://fonts.googleapis.com/css?family=Dosis|Candal' rel='stylesheet' type='text/css'>
		<link href='https://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css' rel="stylesheet" type="text/css">

			<link rel='stylesheet'
				href='//cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/theme/material.css'>


				<div id='code-editor'>
					<textarea id="js">




					</textarea>
				</div>
				<script
					src='//cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/codemirror.js'></script>
				<script
					src='//cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/xml/xml.js'></script>
				<script
					src='//cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/css/css.js'></script>
				<script
					src='//cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/javascript/javascript.js'></script>
				<script
					src='//cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/htmlmixed/htmlmixed.js'></script>
				<script id="rendered-js">
      /**
 *
 * In this pen:
 * added scripts with CDN:
 *   -  //cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/codemirror.js
 *   -  //cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/xml/xml.js
 *   -  //cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/css/css.js
 *   -  //cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/javascript/javascript.js
 *   -  //cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/htmlmixed/htmlmixed.js
 *
 */


// var htmlEditor = CodeMirror.fromTextArea(document.getElementById("html"), {
// 	lineNumbers: true,
// 	mode: 'htmlmixed',
// 	theme: 'material',
// });

// var cssEditor = CodeMirror.fromTextArea(document.getElementById("css"), {
// 	lineNumbers: true,
// 	mode: 'css',
// 	theme: 'material',
// });

<!--var jsEditor = CodeMirror.fromTextArea(document.getElementById('js'), {-->
<!--	lineNumbers: true,-->
<!--	mode: 'javascript',-->
<!--	theme: 'material',-->

<!--});-->
$('.CodeMirror').css('height','100%');

    </script>
	</div>
  </div>
































































































	</body>


<script type="text/javascript" src="{{ url_for('static', filename='/js/CodeEditor.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='/js/main.js') }}"></script>

<script type='text/javascript'>



$(document).ready(function(){

var sourceCodeFilesMap={};
var tabIdArr=[];







var children='';
var cloningcontent="<div contenteditable='true' class='source-code-content' style='display:block;'></div>";
var cloningTabAndBottomContent="<div class='tabs' style='display:block'>";
    cloningTabAndBottomContent+="<div class='close-btn-class-for-sourcecode'></div>";
    cloningTabAndBottomContent+="<div  class='tab-bottom' style='display:block;'></div>";
    cloningTabAndBottomContent+="</div>";
/* 
$('.file-click').click(function(){

    $('.tab-bottom').css('display','none');

    var fileName=$(this).text();
    var filNameWithMinus=fileName.split(' ').join('-');


    $('#source-code-main-div').css('display','block');


    if(sourceCodeFilesMap[fileName]===1){
        alert(typeof(sourceCodeFilesMap[fileName]));
        $('.source-code-content').css('display','none');
        alert('#source-code-content-'+filNameWithMinus);    
        $('#source-code-content-'+filNameWithMinus).css('display','block');
        $('.tab-bottom').css('display','none');
        var temp='#tab-'+filNameWithMinus;
        $('#tab-bottom-'+filNameWithMinus).css('display','block');
    }
    else
    {
        var obj=$(cloningcontent);
        // make all the other source code contents hide
        $('.source-code-content').css('display','none');
        obj.attr('id','source-code-content-'+(filNameWithMinus));
        obj.css('display','block');
        $('.source-code-sub-divs').append(obj);



        sourceCodeFilesMap[fileName]=1;
        var mapLen=JSON.stringify(Object.keys(sourceCodeFilesMap).length);
        var left=(mapLen*parseInt($('.tabs').css('width')))+(mapLen * 10);
        //alert(filNameWithMinus);
        
        var tabObj=$(cloningTabAndBottomContent);
        tabObj.attr('id','tab-'+filNameWithMinus);
        tabIdArr.push('tab-'+filNameWithMinus);
        
        tabObj.css('left',left);
        tabObj.find('.tab-bottom').attr('id','tab-bottom-'+filNameWithMinus);

        tabObj.find('.close-btn-class-for-sourcecode').attr('id',('close-btn-id-for-sourcecode$'+filNameWithMinus));
        
        $('.tabs-container').append(tabObj);
    if(mapLen !==0){
        //first time initialisation of bind events with the id s
        $('.close-btn-class-for-sourcecode').click(function(event){
            var closeBtnId=this.id;
            let idForFileName=closeBtnId.split('$');
            let fileNameWithMinus=idForFileName[1];
            let fileName=fileNameWithMinus.split('-').join(' ');
            $('#tab-'+fileNameWithMinus).remove();
            $('#source-code-content-'+fileNameWithMinus).remove();
            sourceCodeFilesMap[fileName]=0;
            var tabId='tab-'+(idForFileName[1]);
            var indexOf=tabIdArr.indexOf(tabId);
            tabIdArr.splice(indexOf+1,1);

            //for displaing the next source code content if previous is closed
            if(indexOf===0){
                alert(indexOf);
                alert(tabIdArr[indexOf]);
            $('#source-code-content'+tabIdArr[indexOf].replace('tab-','')).css('display','block');
            alert('#source-code-content-'+tabIdArr[indexOf].replace('tab-',''));
            
            }
        });
      }   
    }
});
 */
$(".dTree").dTree();
    
    
	/*beginning of navigation  bar */
 		var kojinFlag=1;
        
        $('.sidenav-button-class , .closebtn').click( function(){
			if(kojinFlag==0){
				var sideNavWidth='40%';
				var sideNavLeft=0;
				$('#navigation-bar').css('left','0px');
				$('#sidenav-button-id').css('left','100%');
				kojinFlag=1;
			}
			else {
				var sideNavWidth=10;
				$('#navigation-bar').css('left','-35%');
				$('#sidenav-button-id').css('left','100%');
				kojinFlag=0;
			}		
		});
	/*end   navigation bar */
	/*
    var tabsEleArr=document.getElementsByClassName('tabs');
    tabsEleArr[0].addEventListener('click',function(){
    document.getElementsByClassName('tab-bottom')[0].style.display="block";
    document.getElementsByClassName('tab-bottom')[1].style.display="none";
    document.getElementsByClassName('tab-bottom')[2].style.display="none";
    //document.getElementById('source-code-tab-content').style.display="block";    
    });
    
    
    tabsEleArr[1].addEventListener('click',function(){
    document.getElementsByClassName('tab-bottom')[0].style.display="none";
    document.getElementsByClassName('tab-bottom')[1].style.display="block";
    document.getElementsByClassName('tab-bottom')[2].style.display="none";
    
    });
    
    tabsEleArr[2].addEventListener('click',function(){
    document.getElementsByClassName('tab-bottom')[0].style.display="none";
    document.getElementsByClassName('tab-bottom')[1].style.display="none";
    document.getElementsByClassName('tab-bottom')[2].style.display="block";
    });
 */    
    
    
});






</script>

</html>
