<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<!--
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
-->

<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>Layout Test Page</title> 
		<script 	src="{{ url_for('static', filename='js/lib/jquery.min.js') }}">
</script>
	    <script src="//cdn.gaic.com/cdn/ui-bootstrap/0.58.0/js/lib/ckeditor/ckeditor.js"></script>
		<script type="text/javascript"
			src="{{ url_for('static', filename='/js/lib/jquery-ui/jquery-latest.js') }}"></script>
		<script type="text/javascript"
			src="{{ url_for('static', filename='/js/lib/jquery-ui/jquery-ui-latest.js') }}"></script>
		<script type="text/javascript"
			src="{{ url_for('static', filename='/js/lib/jquery-ui/jquery-ui-latest.js') }}"></script>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js">/</script>

		<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/ComponentEditor.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/ResultIframe.css') }}" />
	 <link rel="stylesheet" href="{{ url_for('static', filename='/css/ComponentEditor.css') }}">












		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/button.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/NavigationBar.css') }}" />

		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/treeView.css') }}" />
		<link href='https://fonts.googleapis.com/css?family=Source Code Pro'
			rel='stylesheet' />
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />

		<link rel='stylesheet'
			href='//cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/codemirror.css'>
			<link rel='stylesheet'
				href='//cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/theme/material.css'>
				<link rel="stylesheet"
					href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
					<script type="text/javascript" src="{{ url_for('static', filename='js/treeview.js') }}"></script>

					<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
					<script src="https://www.w3schools.com/lib/codemirror_jsx.js"></script>



<!--					<script type='module'>-->
<!--import loadComponentsContainer from './js/ComponentsContainer.js';-->
<!--import IndividualComponentEditor from './js/DomEvents.js';-->

<!--window.loadComponentsContainer=loadComponentsContainer;-->
<!--window.IndividualComponenrtEditor=IndividualComponentEditor;-->
<!--</script>-->
<!-- progress loading before website loads -->


<div id="loading-container" style="display: block;
    width: 50%;
    left: 35%;
    top: 50%;
	background:skyblue;
	height:300px;">
	<span>Loading...</span>
	<div class="progress" id="PreLoaderBar" style="width:80%;left:10%;top:20%;">

        <div class="indeterminate"></div>
    </div>
</div>



					<script
						src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
</head>
<body>












	<script>

document.onreadystatechange = function () {
            if (document.readyState === "complete") {
                console.log(document.readyState);
                document.getElementById("PreLoaderBar").style.display = "none";
                document.getElementById("destination-container").style.display = "block";

            }
        }
</script>












	<div id="destination-container" >


<!-- top header section -->
<div id="top-header">
	<div id="logo-section">
		<img src='https://www.freepnglogos.com/uploads/instagram-logos-png-images-free-download-2.png' alt='primenotes_logo' id='primes-notes-logo' />
		<span class="logo-font" style="top: 12px;left: -2px;">Prime Notes</span>
	</div>






	<div id="tab-options-section" >
	<div class="tab-options">
		<button id="close-editor-button" class="open-close button tab-options-button open-close" data-toggle="tooltip" title="Notes with Text Editor Options">FileFactory</button>

		<button id='main-section-button' class="button open-close" data-toggle="tooltip" title="Project based Notes taker with folder and file creation options">
			<span style="padding:3px">General Notes</span>
		</button>

		<button id='open-close-overlay' class="button open-close"  data-toggle="tooltip" title="Embed Websites, Youtube Videos">
			<span style="padding:3px">Website Embeder</span>
		</button>



		<button id='html-renderer' class="button open-close"  data-toggle="tooltip" title="HTML, css, js editor for creating webdesigned notes">
			<span style="padding:3px" >Html Editor</span>
		</button>


    </div>
	</div>



	<div id='user-name-section'>
		<span class="logo-font user-name-font">SakthiPrasath Tamilazhagan</span>
	</div>

</div>































	<!-- result iframe  -->



	<script>



</script>
















	<div id='pane'>
		<div class='resizable'>
			<div class='resizers'>
				<div class='resizer top-left'></div>
				<div class='resizer top-right'></div>
				<div class='resizer bottom-left'></div>
				<div class='resizer bottom-right'></div>
				<div id='component-factory-header-icons'>
					<div id="change-pane-orientation-left" class="button dropbtn">L</div>
					<div id="change-pane-orientation-right" class="button dropbtn">R</div>

					<div id='maximize-component-factory'>
						<input id='maximize-input-toggle' type='checkbox'
							style='display: none'> <img for='maximize-input-toggle'
							class='maximize-icon'
							src="https://img.icons8.com/material/64/000000/full-screen.png"></img>
					</div>
					<div id='close-component-results-container'>
						<img class='close-component-results-container-icon'
							src="https://img.icons8.com/color/48/000000/close-window.png">
					</div>

				</div>
				<div id="component-factory-title">Component Factory</div>
				<div id='components-search-container'>
						<div id='left-and-middle-section'>
						<div class="left-corner">
							<div class='left-corner-sub-div'>
								<div id='file-switch' class='component-factory-left-icons'>
									<img src="https://img.icons8.com/ios/50/000000/select-all.png"
										style="position: relative; padding: 1px; height: 100%; width: 100%; left:">
								</div>
								<div id='chat-switch' class='component-factory-left-icons'>
									<img src="https://img.icons8.com/ios/50/000000/select-all.png"
										style="position: relative; padding: 1px; height: 100%; width: 100%; left:">
								</div>
								<div class='component-factory-left-icons'>
									<img src="https://img.icons8.com/ios/50/000000/select-all.png"
										style="position: relative; padding: 1px; height: 100%; width: 100%; left:">
								</div>
								<div class='component-factory-left-icons'>
									<img src="https://img.icons8.com/ios/50/000000/select-all.png"
										style="position: relative; padding: 1px; height: 100%; width: 100%; left:">
								</div>
								<div class='component-factory-left-icons'>
									<img src="https://img.icons8.com/ios/50/000000/select-all.png"
										style="position: relative; padding: 1px; height: 100%; width: 100%; left:">
								</div>

							</div>
						</div>

						<div id='middle-section'>
							<div id='search-container-section' style="width: 10px;height: 10px;">
								<div class="search-container">


									<div class="search-box">
									  <div class="form-group">
										<input type="text" id='search-box' name="firstname" class="line-animation" placeholder="search...">
											<div class="line">
											</div>
									  </div>
  									</div>



									<img  src="https://img.icons8.com/color/48/000000/search.png">
								</div>

								<div id='chat-file-icon-section' style="
									position: absolute;
									right: -85px;
									width: 138px;
									top : 15px">
									<div id="create-new-file" class="dropdown_1" style="
									    width: 27px;
										height: 27px;
										display: block;
										left: -20px;
										position: absolute;">
											<button class="button dropbtn">+</button>
											<div  class="dropdown-content">
											</div>
									</div>

									<div id="create-new-file-form" style="display:none;top:10px
											display: block;
											top: px;
											left: 15px;
											position: absolute;
											width: 275px;
											z-index: 1;
											background: white;
											height: 50px;
											padding: 10px;
									">
										<input type="text" id="create-file-text-box"  class="form-text-box" placeholder="Create file">
										<button id='create-new-file-submit-btn'  class="button">create</button>
										<button id='close-create-file-form' class="button" style="
										font-family:sans-serif;
										"> X </button>
									</div>

									<img id='single-chat' src="https://cdn2.iconfinder.com/data/icons/explore-and-analysis-2/64/76-512.png" style="
									    width: 27px;
										height: 27px;
										display: block;
										position: absolute;
										left: -76px;">
									<img id='group-chat' src="https://cdn2.iconfinder.com/data/icons/explore-and-analysis-2/64/76-512.png" style="
									    width: 27px;
										height: 27px;
										display: block;
										position: absolute;
										left: -40px;
									}">

								</div>




								<img id ="search-results-close-button" class="close-component-results-container-icon" src="https://img.icons8.com/color/48/000000/close-window.png" style="
									position: absolute;
									background: #f44336;
									margin-top: 5px;
									margin-right: 5px;
									right: 5px;
								">
							</div>

							<div class='search-results'>


							<div id="file-middle-section">
							</div>
							<div id="chat-middle-section">
								<div style="position: relative;" class="list-section">
									<div class="individual-search" id="hrithik" style="
											position: relative;
											left: 0px;	">

										<div style="
												width: 45px;
												height: 45px;">
											<img src="https://img.etimg.com/thumb/msid-67467301,width-650,imgsize-575034,,resizemode-4,quality-100/hrithik-roshan.jpg" alt="sakthiprasath.jpg" style="
												width: 100%;
												height: 100%;
												border-radius: 100%;">

										<div class="search-result-item" style="
												position: absolute;
												top: 24px;
												left: 58px;
												font-family: cursive;
												height:20px;
												">Hrithik</div>
										</div>
										<div style="
													position: absolute;
											right: 20px;
											bottom: 10px;
											font: small-caption;">online</div>
									</div>

								<div class="individual-search" id="sakthiprasath" style="
											position: relative;
											left: 0px;	">

									<div style="
											width: 45px;
											height: 45px;">
										<img src="https://scontent-maa2-1.xx.fbcdn.net/v/t1.0-9/51484204_2315196172094301_2885794796834652160_o.jpg?_nc_cat=108&amp;_nc_sid=09cbfe&amp;_nc_ohc=w4T6TVutcbAAX8WvuDs&amp;_nc_ht=scontent-maa2-1.xx&amp;oh=33586aab906406c3cbd1f04328e8909b&amp;oe=5F68B0A3" alt="sakthiprasath.jpg" style="
											width: 100%;
											height: 100%;
											border-radius: 100%;">

									<div class="search-result-item" style="
											position: absolute;
											top: 24px;
											left: 58px;
											font-family: cursive;
											height:20px;
											">sakthiprasath</div>
									</div>
									<div style="
											    position: absolute;
										right: 20px;
										bottom: 10px;
										font: small-caption;">online</div>
									</div>




								</div>
							</div>

							</div>


						</div>
					</div>

					<div id='right-side-components'>
						<div id='right-side-components-container'>
						<div id="file-name" class="button" ></div>
						<button class="button" id="editor1-save-button" class="button">save
						</button>

<!--						<iframe src="https://cdpn.io/sakthics25/debug/ZEQNzKN/VJMxxOQDQbvM" style="-->
<!--							width: 100%;-->
<!--							height: 100%;-->
<!--						"></iframe>-->

<!--https://codepen.io/edsonperotoni/pen/OJJZzZq?editors=1010-->
						<textarea id='editor1' contenteditable>
						  <h1>A Heading.</h1>
						  <p>Some text that you can format. Try inserting an image or a link.</p>
						</textarea>

						</div>
						<div class='corner'></div>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div id='individual-component-editor-section'></div>

<!--create-component dialog section -->





 <!--password validation for drowssap file opening-->
	<div id="password-validate-dialog" title="Title of dialog">
  		<div id='password-for-drowssap'>
   			<input id='password-content-for-drowssap' type='password' placeholder='password'/>
  			<button class="button" id='password-validate'>check password</button>
  		</div>
	</div>





<div id="main-section-wrapper">




	<div  id="main-sections" class='main-section-wrapper-class'>

		<div id='navigation-bar' class="split__left">
		<a href="javascript:void(0)" id="closebtn">×</a>
<!--		<div id='sidenav-button-id' class='sidenav-button-class'>-->
<!--			<span class='sidenav-button-content-class'>>></span></span>-->
<!--		</div>-->

		<div id="sidenav-tab-section">
			</div>


		<div class="sidenav">

			<div class="context" hidden>
			  <div class="context_item">
				<div class="inner_item">
				  Copy
				</div>
			  </div>
			  <div class="context_item">
				<div class="inner_item">
				  Cut
				</div>
			  </div>
			  <div class="context_item">
				<div class="inner_item">
				  Paste
				</div>
			  </div>
			  <div class="context_hr"></div>
			  <div class="context_item">
				<div class="inner_item">
				  Share
				</div>
			  </div>
			  <div class="context_item">
				<div class="inner_item">
				  Delete
				</div>
			  </div>
			</div>


				<!-- tree part staAdd New Brandrts here -->
				<div class="dTree">
					<ul>
						<li><a href="#" >Site</a>
							<ul>
								<li><a href="#" class='file-click' filename="about123">About the Web Site</a></li>
								<li><a href="#" class='file-click' filename="site123">site123</a></li>
								<li><a href="#" class='file-click' filename="hrithik">Hrithik</a></li>
								<li><a href="#" class='file-click' filename="Roshan">Roshan</a></li>
								<li><a href="#" class='file-click' filename="reshan">Reshan</a></li>
							</ul>
						</li>
						<li><a href="#" >Cars</a>
							<ul>
								<li><a href="#" class='file-click' filename="base64_encoder" title="base64_encoder" >base64_encoder</a></li>
								<li><a href="#" class='file-click'>List All Brand</a></li>
								<li><a href="#" class='file-click'>Mercedes - Benz</a>
									<ul>
										<li><a href="#">About the Mercedes - Benz</a></li>
										<li><a href="#">History</a></li>
										<li><a href="#">Series</a>
											<ul>
												<li><a href="#">A Series</a>
													<ul>
														<li><a href="#">A 140</a></li>
														<li><a href="#">A 150</a></li>
														<li><a href="#">A 180 CDI</a></li>
														<li><a href="#">A 200 CDI</a></li>
													</ul></li>
												<li><a href="#">B Series</a>
													<ul>
														<li><a href="#">B 140</a></li>
														<li><a href="#">B 150</a></li>
														<li><a href="#">B 180 CDI</a></li>
														<li><a href="#">B Special Series</a>
															<ul>
																<li><a href="#">B Extreme</a></li>
																<li><a href="#">B Jumper</a></li>
																<li><a href="#">B Raiden</a></li>
																<li><a href="#">B Subzero</a></li>
															</ul></li>
													</ul></li>
												<li><a href="#">Concept Cars</a></li>
												<li><a href="#">Best Prototypes</a></li>
												<li><a href="#">List all other categories</a></li>
											</ul></li>
										<li><a href="#">Custom Series</a></li>
										<li><a href="#">A+ Series for children</a></li>
										<li><a href="#">B+ Series for women</a></li>
									</ul></li>
								<li><a href="#">Chevrolet</a></li>
								<li><a href="#">Saab Custom models</a></li>
								<li><a href="#">Fiat</a>
									<ul>
										<li><a href="#">Kartal SLX</a></li>
										<li><a href="#">Dogan 1.6 Turbo</a></li>
										<li><a href="#">Sahin</a></li>
										<li><a href="#">Dogan Gorunumlu Sahin</a>
											<ul>
												<li><a href="#">1.3 Motor</a></li>
												<li><a href="#">1.6 Motor</a></li>
												<li><a href="#">1.8 Motor</a></li>
												<li><a href="#">2.0 Motor</a></li>
											</ul></li>
										<li><a href="#">Serce</a></li>
										<li><a href="#">Murat 131</a></li>
									</ul></li>
							</ul></li>
						<li><a href="#">Electronic Models</a></li>
						<li><a href="#">Real Estate</a></li>
						<li><a href="#">Bruce Lee</a></li>
						<li><a href="#">Graphics</a></li>
						<li><a href="#">Smart Phones</a>
							<ul>
								<li><a href="#" class='file-click' filename='distributed_computing_1'>distributed_computing_1</a></li>
								<li><a href="#" class='file-click' filename='distributed_computing_2'>distributed_computing_2</a></li>

								<li><a href="#" class='file-click' filename='LG'>LG</a></li>
								<li><a href="#" class='file-click' filename='Sony'>Sony</a></li>
								<li><a href="#" class='file-click' filename='HTC'>HTC</a></li>
								<li><a href="#" class='file-click' filename='Samsung'>Samsung</a></li>
								<li><a href="#">Samsung</a></li>
								<li><a href="#">Other Models</a>
									<ul>
										<li><a href="#">First other model</a></li>
										<li><a href="#">Second other model</a></li>
									</ul></li>
								<li><a href="#">Add New Model</a></li>
							</ul></li>
					</ul>
				</div>
				<!-- tree part ends here -->

			</div>





		</div>




		<script src="{{ url_for('static', filename='js/SourceCodeSection.js') }}"></script>

		<div class="split__bar"></div>

		<div id='source-code-main-div' class="split__right">
			<div id="sidenav-button-id" class="sidenav-button-class">
				<span class="sidenav-button-content-class">&gt;&gt;</span>
			</div>

		<div id='source-code-sub-divs'>
<!--			<div id="close-editor-button">-->
<!--			<img style='height:100%;width:100%;' src="https://img.icons8.com/color/48/000000/suitcase.png">-->
<!--			</div>-->
			<div id="move-tabs-left" class ='button dropbtn'>L</div>
			<div id="move-tabs-right" class="button dropbtn">R</div>

			<div id='tabs-list-drop-down' class="dropdown">
				<button  class="three-vertical-dots button dropbtn">MORE</button>
				<div id="myDropdown" class="dropdown-content">
				</div>
			</div>

			<div id='tab-container'>
			</div>
		</div>
		<link rel='stylesheet'
			href='//cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/codemirror.css'>
		<link href='https://fonts.googleapis.com/css?family=Dosis|Candal' rel='stylesheet' type='text/css'>
		<link href='https://netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.css' rel="stylesheet" type="text/css">

			<link rel='stylesheet'
				href='//cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/theme/material.css'>


				<div id='code-editor'>
					<textarea id="js">




					</textarea>
				</div>
				<script
					src='//cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/codemirror.js'></script>
				<script
					src='//cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/xml/xml.js'></script>
				<script
					src='//cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/css/css.js'></script>
				<script
					src='//cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/javascript/javascript.js'></script>
				<script
					src='//cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/htmlmixed/htmlmixed.js'></script>
				<script id="rendered-js">
      /**
 *
 * In this pen:
 * added scripts with CDN:
 *   -  //cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/codemirror.js
 *   -  //cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/xml/xml.js
 *   -  //cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/css/css.js
 *   -  //cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/javascript/javascript.js
 *   -  //cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/htmlmixed/htmlmixed.js
 *
 */


// var htmlEditor = CodeMirror.fromTextArea(document.getElementById("html"), {
// 	lineNumbers: true,
// 	mode: 'htmlmixed',
// 	theme: 'material',
// });

// var cssEditor = CodeMirror.fromTextArea(document.getElementById("css"), {
// 	lineNumbers: true,
// 	mode: 'css',
// 	theme: 'material',
// });

<!--var jsEditor = CodeMirror.fromTextArea(document.getElementById('js'), {-->
<!--	lineNumbers: true,-->
<!--	mode: 'javascript',-->
<!--	theme: 'material',-->

<!--});-->
$('.CodeMirror').css('height','100%');

    </script>
	</div>
    </div>

	<div class='main-section-wrapper-class' id="overlay">
		<div id='hider-for-resize'></div>
		<div id='result-iframe'  style="background-color:black;">

			<!-- tab-section with contents -->

			<div class="tabset">
			  <!-- Tab 1 -->
			  <input type="radio" name="tabset" id="tab1" aria-controls="videos-tab-section" checked>
			  <label for="tab1">Videos</label>
			  <!-- Tab 2 -->
			  <input type="radio" name="tabset" id="tab2" aria-controls="clock-tab-section">
			  <label for="tab2">Clocks</label>
			  <!-- Tab 3 -->
			  <input type="radio" name="tabset" id="tab3" aria-controls="python-tab-section">
			  <label for="tab3">Python Compiler</label>
			  <!-- Tab 4 -->
			  <input type="radio" name="tabset" id="tab4" aria-controls="dunkles">
			  <label for="tab4">Not Occupied</label>

				<div id="create-website-embeder-add-btn" class="dropdown_1" style="">
					<button class="button dropbtn">+</button>
					<div id="myDropdown-add-website" class="dropdown-content">
					</div>
				</div>
<!--				<div id="create-website_embeder-form" style="display: block;">
					<input type="text" id="create-website-embeder-url-text-box"  class="form-text-box" placeholder="Embed site URL">
					<input type="text" id="tag-name-website-embeder-text-box"  class="form-text-box" placeholder="Website name">

					<button id="create-website-embeder-submit-btn" class="button">create</button>
					<button id="close-create-component-form" class="button" style="
					"> X </button>
				</div>-->

				<!-- tab-pannels begins -->
			  <div class="tab-panels">
				<section id="videos-tab-section" class="tab-panel">
				  <h2></h2>

							<div id="video-download-section>" style="
								margin-left: 30px;
							">
							<input type="text" id="video-link" placeholder="video-link" style="
								padding: 4px 40px;
								margin: 8px 0;
								box-sizing: border-box;
							">
							<input type="text" id="video-name" placeholder="video-name" style="
								padding: 4px 40px;
								margin: 8px 0;
								box-sizing: border-box;
							">
							<button id="download-video-button" class="button">download</button>
							</div>
							<div id='video-section' >
								<video width="400" controls>
								</video>
							</div>

				</section>



				  <section id="clock-tab-section" class="tab-panel">
				  <h2></h2>
<!--					<iframe src="https://vclock.com/timer/" style="-->
<!--									width: 1345px;-->
<!--									height: 550px;-->
<!--									top: -52px;-->
<!--									position: relative">-->
<!--							  </iframe>-->
					</section>



				  <section id="python-tab-section" class="tab-panel">
				    <h2></h2>
<!--					<iframe src="https://www.programiz.com/python-programming/online-compiler/" style="-->
<!--									width: 1345px;-->
<!--									height: 550px;-->
<!--									top: -52px;-->
<!--									position: relative">-->
<!--							  </iframe>-->
					</section>


				<section id="dunkles" class="tab-panel">
				  <h2>Other Things</h2>
				  <a href="https://chemours.symphonyindai.com/" target="_blank">
								chemours tenant  </a>
				 </br>
			      <a href="https://economictimes.indiatimes.com/commoditysummary/symbol-GOLD.cms" target="_blank">
					  Economic times
				  </a>
				  </br>
				  <a href="https://www.goodreturns.in/gold-rates/" target="_blank">
					  Good Returns
				  </a>


				  <button class="button" onclick="window.open('http://localhost:5000/api/individual-component-fetch/screen-recorder');">Screen Recorder</button>
				</section>
			  </div>

			</div>


		</div>




	</div>

 	<div class='main-section-wrapper-class'  id="html-renderer-section">


 		<div id="component-tabs">
<!--			<button class="create-component create-component button tab-options-button" title="calculator">-->
<!--				Calculator-->
<!--			</button>-->
<!--			<button class="create-component create-component button tab-options-button" title="slideshow">-->
<!--				slideshow-->
<!--			</button>-->
<!--			<button class="create-component create-component button tab-options-button" title="markup_editor">-->
<!--				markup_editor-->
<!--			</button>-->

		</div>

		<div id="create-component-section">

			<div id="create-component-form" style="display: none;">
				<input type="text" id="create-component-text-box" name="firstname" class="form-text-box" placeholder="Create Component">
				<button id="create-component-submit-btn" class="button">create</button>
				<button id="close-create-component-form" class="button" style="
				"> X </button>
			</div>

		<div id="create-component-add-btn" class="dropdown_1">
				<button class="button dropbtn">+</button>
				<div id="myDropdown-add-component" class="dropdown-content">
				</div>
		</div>
	</div>


 </div>






</div>
































































































	</body>


<script type="text/javascript" src="{{ url_for('static', filename='/js/CodeEditor.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='/js/main.js') }}"></script>

<script type='text/javascript'>



$(document).ready(function(){







    
    


    
    
});






</script>

</html>
