*, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ebebeb;
	font-family: 'Noto Sans JP', sans-serif;
}
.menu-item{
    display: flex;
    justify-content: space-between;
}
.nav-bar-width-class{
    width: 190px !important;
}

.main-menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 45px;
	height: 100vh;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow: hidden;
	white-space: nowrap;
	box-shadow: 0px 0px 20px #d4d4d4;
    z-index: 1;
	transition: .3s;
	transition-timing-function: easy;
}



.main-menu .menu-item {
	padding-left: 5px;
}
.menu-click-item{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.menu-content-text{
    padding: 14px;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
}
.main-menu .menu-item:hover {
	background-color: #ecdcdc;
	cursor: pointer;
}

.main-menu .menu-item .fa {
	font-size: 15px;
	width: 40px;
	padding: 10px;
	color: gray;
	margin-top: 5px;
}

.main-menu .menu-item:hover > .fa {
	color: #3871C6FF;
}
.menu-item > span{
    padding-left: 10px;
}
.side-components-bg-color {
	background-color: #f1f1f1;
}

::-webkit-scrollbar {
	width: 5px;
}

::-webkit-scrollbar-track {
	background: transparent !important;
}

::-webkit-scrollbar-thumb {
	background: #bbbbbb;
	border-radius: 10px;
}