.note-toolbar{
    position: relative;
    display: block;
}
#component-text-editor .note-toolbar{
    display: block;
}
.note-editor{
    position: relative;
    left: 70px;
    transition-duration: 0.3s;
}
.note-editor-moved-left{
    left: 260px;
}
.note-editing-area{
    overflow: scroll !important;
    width: 99%
}