#right-side-panel{
    background: #e9f3ed;
    width: 20%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 1;
    border-left: 2px solid #9cbbd6;
    cursor: col-resize;
    }
    .details-section {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
    }

    .row11 {
        display: grid;
        width: 100%;
        border: 1px solid #e9f3ed;
        background: #e2e5e8;
        grid-template-columns: 5fr 1fr;
    }

    .details-close {
            color: #4f4fb2;
            font-size: 14px;
            font-weight: 500;
            text-align: center;
            font-style: inherit;
            background: #e9f3ed;
            width: 30px;
            cursor: pointer;
            padding: 2px;
            height: 30px;
            margin: 7px;
    }

    .details-name {
        color: blue;
        font-size: 15px;
        font-weight: 600;
        text-align: center;
        position: relative;
        margin: 7px;
        max-width: 210px;
    }

    .row1 {
            width: 85%;
            display: grid;
            grid-template-rows: 0fr 0fr;
            max-height: max-content;
            border: 1px solid #e9f3ed;
            min-height: 50px;
            row-gap: 7px;
            margin-left: 15px;
    }

    .details-label {
        font-size: 15px;
        font-weight: 600;
    }