#right-side-panel{
    background: #f9f9f9;
    width: 245px;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    border-left: 2px solid #94a9bf;
    cursor: pointer;
    display: none;
}
    .details-section {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
    }

    .row11 {
        display: grid;
        width: 100%;
        border: 1px solid #e9f3ed;
        background: #ece7e7;
        grid-template-columns: 6fr 1.5fr;
    }

    .details-close {
            padding: 10px ​!important;
    }

    .details-name {
        color: #2185d0;
        font-size: 15px;
        font-weight: 600;
        text-align: center;
        position: relative;
        margin: 7px;
        max-width: 210px;
    }

    .row1 {
            width: 85%;
            display: grid;
            grid-template-rows: 0fr 0fr;
            max-height: max-content;
            min-height: 50px;
            row-gap: 7px;
            margin-left: 15px;
    }

    .details-label {
        font-size: 15px;
        font-weight: 600;
        color: #2a1756;
    }
    .details-value{
        color: #43769c
    }