
#top-header{
    position: fixed;
    background-color: #2b95ea;
    display: grid;
    z-index: 5;
    box-shadow: rgb(19 24 29) 0px 0.1px 8px;
}
.top-header-top-margin{
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    grid-template-columns: 2fr 3fr 1fr 0.6fr;
}
.top-header-right-margin{
    top: 0px !important;
    right: 0px !important;
    width: 125px !important;
    height: 100% !important;
    top: 0px !important;
    grid-template-rows: 1fr 4fr 1fr 0.6fr;
}
.top-header-bottom-margin{
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    grid-template-columns: 2fr 3fr 1fr 0.6fr;
}

.top-header-left-margin{
    top: 0px !important;
    left: 0px !important;
    width: 125px !important;
    height: 100% !important;
    top: 0px !important;
    grid-template-rows: 1fr 4fr 1fr 0.6fr;
}



.top-header-right-margin-tab-options {
    flex-wrap: wrap !important;
    column-gap: 0px !important;
    height: 50% !important;
    width: 100% !important;
    margin: 4px; !important;
}

.tab-option-buttons-right-in-margin{
    margin-left: 5px !important;
    padding: 4px !important;
    width: 109px !important;
}



#logo-section{
	position: relative;
}

.logo-section-top-margin{
    height: 100%;
    top: 0%;
    display: flex;
}
.logo-section-right-margin{
    height: 47px;
    top: 1%;
}
#primes-notes-logo{
    width: 50px;
    height: 40px;
    top: 4px;
    position: inherit;
    left: 3px;
    cursor: pointer;
}

.logo-font{
	position: relative;
    font-size: 90%;
    font-family: cursive;
    color: #e9f3ed;
    letter-spacing: 1px;
    font-weight: 600;
    cursor:pointer;
}
#user-name-section{
 display: flex;
 align-items: center;
}
#user-name-section-right-margin{
    position: absolute;
    bottom: 5%;
    left: 15px;
    width: 80%;
}
.user-name-font{
}

#header-orientation{
    display: block;
    top: 9px;
}

#left-header-id{
        width: 20px !important;
    margin-left: 4px;
    margin-top: 18px;
    font-family: cursive;
    font-size: 28px;
    cursor: pointer;
}
#left-header-id-span{
    position: absolute;
    top: -14px;
    left: 4px;

}

#top-header-id{
        width: 50px !important;
    margin-left: 33px;
    padding-left: 21px;
    font-family: cursive;
    font-size: 31px;
    cursor: pointer;
}
#top-header-id-span{
    position: absolute;
    margin-top: -5px;
    margin-left: -4px;

}
#right-header-id{
    width: 20px !important;
    margin-left: 94px;
    margin-top: 18px;
    font-family: cursive;
    cursor: pointer;
}
#right-header-id-span{
    position: absolute;
    top: -12px;
    left: 6px;
    font-size: 26px;
}
#bottom-header-id{
    width: 50px !important;
    margin-left: 33px;
    margin-top: 31px;
    cursor: pointer;
}
#bottom-header-id-span{
    position: absolute;
    margin-top: -23px;
    margin-left: 17px;
    font-size: 33px;
    font-family: cursive;
    transform: rotate(180deg);
}

.top-header-orientation {
    position: absolute;
    width: 14px;
    height: 16px;
    background: white;
    background: #2b95ea;
    color: white;
}



