
#top-header{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 50px;
    background-color: brown;
    color: white;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    z-index: 5;
}
#logo-section{
	position: relative;
    height: 100%;
    top: 0%;
    display: flex;
}
#primes-notes-logo{
	width:50px;
    height:90%;.user-name-font
}
.logo-font{
	position: relative;
    font-size: 90%;
    font-family: cursive;
    color: white;
    letter-spacing: 1px;
    font-weight: 600;
}
#user-name-section{
 display: flex;
 align-items: center;
}

.user-name-font{
}