body{
background-color:#26162d;
color:white;
}

.resizable {
  background: none;
  position: absolute;
  top: 0px;
  left: 0px;
    width: 100%;
  height: 100%;
    min-width: 40% !important;
    min-height: 40% !important;
}

.resizable .resizers{
  width: 100%;
    height: 100%;
    border: 3px;
    box-sizing: border-box;
}

.resizable .resizers .resizer{
    width: 15px;
    height: 7px;
    border-radius: 16%;
    position: absolute;
    z-index: 10;
}

.resizable .resizers .resizer.top-left {
  left: -5px;
  top: -5px;
  cursor: nwse-resize; /*resizer cursor*/
}
.resizable .resizers .resizer.top-right {
  right: -5px;
  top: -5px;
  cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-left {
  left: -5px;
  bottom: -5px;
  cursor: nesw-resize;
}
.resizable .resizers .resizer.bottom-right {
  right: -5px;
  bottom: -5px;
  cursor: nwse-resize;
}
@charset "ISO-8859-1";


/* width */
::-webkit-scrollbar {
    width: 6px;
    display: block;
    background: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: none;
    width: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
     background: #2d5779;
    border-radius: 3px;
    display: none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}






/* custom toggler-button styles */
.ui-layout-toggler-west, .ui-layout-toggler-south {
	border: 0;
}

.ui-layout-toggler-west div {
	width: 8px;
	height: 35px; /* 3x 35 = 105 total height */
}

.ui-layout-toggler-south div {
	width: 35px; /* 3x 35 = 105 total width */
	height: 8px;
	float: left; /* keep on 1-line */
}

.btnToggler {
	background: #00C;
}

.btnExpand {
	background: #090;
}

.btnReset {
	background: #C00;
}

#component-factory-header-icons{
   position: relative;
    height: 5%;
    float: right;
    font-size: 7px;
    padding: 0rem 0rem 0rem;
    margin-top: 7px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 15px;
    right: 10px;
}
#close-cpnt-factry-icon{
	    width: 50%;
    height: 100%;
    position: absolute;
}
#destination-container {
    position: fixed;
    top: 49px;
    left: 0px;
    width: 100%;
    height: 99%;
    display:none;
}
#maximize-component-factory{
	top: 5px;
    height: 50%;
}
.maximize-icon{
	width:20px;
	height:20px;
}
.maximize-icon:hover{
	width:25px;
	height:25px;
	transition:0.5s;
}

#components-search-container {
	position: absolute;
    height: calc(100% - 36px);
    width: 100%;
    background: #f4f7f9;
}
#left-and-middle-section{
    position: absolute;
    width: 250px;
    height: 100%;
    background: #f4f7f9;
    }

#search-results-close-button{
    position: absolute;
    margin-top: 3px;
    margin-right: -6px;
    right: 16px;
    font-family: cursive;
    cursor: pointer;
    padding-left: 4px;
    transition: 0.5s;
    font-size: 14px;
    padding-right: 4px;
}
#search-results-close-button:hover{
    background: red;
    color: white;
}
.right-side-modify{
	width: calc(100% - 35px) !important;
	left: 35px !important;
}
.left-corner {
    position: absolute;
    top: 0%;
    left: 0px;
    height: 101%;
    width: 35px;
    background: #375c75;
}
.component-factory-left-icons{
	background-color:aliceblue;
	height: 20px; 
	width: 20px; 
	position: relative; 
	margin-top: 10px;
	margin-left:6px;
	cursor:pointer;
}
#middle-section {
	position: absolute;
    height: 100%;
    width: 210px;
    left: 35px;
    background: #f4f7f9;
    color: #26162d;
    font-weight: 600;
    border-right: 1px solid #c9d7e0;
}
#quick-notes-in-file-factory{
    display: none;
    position: absolute;
    height: 100px !important;
    width: calc(100% - 35px);
    left: 35px;
    overflow: scroll;
    height: calc(100% - 0px) !important;
}
.search-input-box {
	    position: relative;
    top: 5px;
    left: 2px;
    background-color: #f4f5f6;
    border-radius: 15px;
    outline: none;
    border-color: brown;
}
.search-img{
	    width: 100%;
    height: 100%;
    top: 0%;
    position: absolute;
	
}
#add-new-file-in-file-factory{
    border: none;
    font-size: 30px;
    font-family: fangsong;
    top: -8px;
    position: absolute;
    background: #baeacd;
    outline: none;
}
#add-new-file-in-file-factory:hover{
    color: #b1f50d;
    transition: 0.5s;
    outline: none;
}
.close-file-factory-x{
    right: 5px !important;
    top: -2px !important;
    cursor: pointer;
    font-family: cursive;
    font-size: 15px !important;
}
/*
#search-box {
	background-color:#6ad4f4;
	position: absolute;
    height: 25px;
    width: 117px;
    top: 0px;
    left: 3px;
}
#search-box :active{
box-shadow:10 2 2 2;
}
*/

.search-icon{
        width: 25%;
    height: 94%;
    position: absolute;
    z-index: 1;
    background: #e8f3f3;
    float: right;
    right: 0%;
    top: 5%;
}
.search-results {
	position: absolute;
    height: calc(100% - 55px);
    width: 100%;
    top: 45px;
    left: 0px;
    /* background-color: blue; */
    overflow-y: scroll;
    overflow-x: hidden;

 }
.search-results:hover::-webkit-scrollbar-thumb {
    width : 6px;
    display :block !important;
    overflow-x: hidden;
}

#right-side-components {    
	position: absolute;
    height: 100%;
    width: calc(99.5% - 242px);
    top: 0px;
    left: 195px;
    background-color: #ccffff;
    display: none;
    overflow:auto;
  }
#close-component-results-container{
    z-index: 1;
    margin-top: -1px;
    color: #f4f7f9;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    background: none;
    border: none;
}  
#close-component-results-container:hover{
    background: #2980B9;
}

#right-side-components > corner {
transform:rotate(45deg);
height:20px;
width:5px;
background-color:red;
position:absolute;
right:5px;
bottom:0px;
}
.right-side-components-full-screen{
    left:35px !important;
    width: calc(100% - 35px) !important;
}
.right-side-components-split-screen{
    left:250px !important;
    width: calc(100% - 250px) !important;
}
.search-result-item {
    position: relative;
    height: 10%;
    width: 100%;
    border-radius: 1px;
    padding-left: 25px;
    overflow-y: scroll;
    letter-spacing: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    }
.individual-search{
    width: 95%;
    padding: 10px;
    font-family: cursive;
    box-sizing: content-box;
    }
.individual-search:hover {
	background-color: #bde4f1;
    cursor: pointer;
    zoom: 1.3;
    color: black;
}

/*file factory options*/
.file {
    height: 10px;
    width: 80px;
    right: 11px;
}
.file-factory-options{
    background-color: #88baca;
    display: block;
    right: -70px;
    position: relative;
    padding-right: 5px;
    padding-left: 5px;
    width: 77px;
    top: 3px;
    border-radius: 5px;
}
.file-factory-option-icons {
    width: 18px;
    height: 18px;
}

#right-side-components-container {
	position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    left: 0px;
    background: #f4f7f9;
    display: none;
}
#right-side-components-container-text-area{
	height: 100%;
	width: 100%;
    background-color:white;
}





.minimize-middle-section{
    width: 50%;
    margin-left: 29px;
    height: 90%;
    transform: rotate(0 deg)
}
.expand-middle-section{
    width: 88%;
    margin-left: 1px;
    height: 100%;
    transform: rotate(180deg);
}

.indvidual-components {
	    height: 99%;
    width: 100%;
    position: relative;
    border: 1px solid #130f0f;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
}
.individual-component-iframe{
	width:100%;
	height:100%;	
}
#individual-component-editor-section{
	height:100%;
	width:100%;
	position:absolute;
	top:0px;
	left:0px;
}
.edit-code-button {
	position: absolute;
	bottom: 10px;
	right: 10px;;
}

/*current components container  end*/
.sample-onhover-menu {
	position: absolute;
	width: 150px;
	height: 600px;
	background-color: violet;
	border-radius: 10px;
}

.inner-div {
	position: absolute;
	top: 10px;
	left: 20px;
	width: 110px;
	height: 515px;
}

.inner-onhover {
	position: absolute;
	border-radius: 10px;
	width: 100px;
	font-size: 20px;
	padding: 10px;
}

.inner-onhover:hover {
	background-color: red;
	transition: 1s;
}

.sub-hover {
	position: absolute;
	height: 500px;
	width: 200px;
	background-color: red;
	border-radius: 10px;
}

#sub-hover-component {
	position: absolute;
	left: 150px;
	width: 350px;
	height: 600px;
	background-color: DodgerBlue;
	border-radius: 10px;
	display: none;
}

#sample-onhover-menu-and-sub-hover-component {
	position: absolute;
	width: 150px;
	height: 600px;
	left: 700px;
}

#close-editor-button {
    width: 109px !important;
    height: 30px;
    position: relative;
    margin-top: 5px;
    top: 0px;
    margin-left: 5px;
}
.img-icon{
      width: 100%;
    left: 0%;
    position: absolute;
    top: -5px;
    height: 113%;
}
header {
	position: absolute;
	top: 1px;
	width: 100%;
	height: 70px;
	background-color: orange;
}

footer {
	position: absolute;
	bottom: 1px;
	width: 100%;
	height: 100px;
	background-color: orange;
}

.background-img-class {
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.file-container {
	position: absolute;
	width: 800px;
	height: 500px;
	border: 1px solid blue;
	z-index: 5;
	overflow: auto;
}

#files-container {
	position: absolute;
	transform: 1s;
	display: none;
	top: 400px;
}

#js-file {
	background-color: white;
	left: 60px;
}

#html-file {
	background-color: white;
	left: 930px;
	top: 1000px;
}

#css-file {
	background-color: white;
	left: 930px;
	width: 100%;
	height: 100%;
}

.file-container-open-button {
	position: absolute;
	left: 100px;
	top: 100px;
	background: color:blue;
	z-index: 1;
}

#layouts {
	position: absolute;
	width: 500px;
	height: 100px;
}

.CodeMirror {
	width: 100%;
	height: 100%;
	border: 0px;
}
.CodeMirror-lines{
	background:#26162d;
}
.container {
	position: relative;
	margin: auto;
	padding: 0 20px;
	width: 100%;
	max-width: 970px;
}

.code-container {
	position: relative;
	margin-bottom: 1.5rem;
	overflow: hidden;
	border-radius: 3px;
	box-shadow: 3px 3px 6px rgba(0, 0, 0, .3);
}


.code-container:last-child {
	margin-bottom: 0;
}

.ui-layout-pane {
	background: #263238;
}

.button-code-div {
	position: absolute;
	float: right;
	right: 2px;
}

#pane {
	position: fixed;
    margin: 0;
    padding: 0;
    z-index:99;
    display:none;
    box-shadow: rgb(34, 99, 119) 0px 0.5rem 3rem;
    transition-duration: 0.5s;
    transform-origin: center center;
}
#change-pane-orientation-left{
    z-index: 1;
    margin-top: -1px;
    width: 29px;
    height: 21px !important;
    color: white;
    background: none;
    border: none;
}
.span-for-orientation{
    font-size: 19px;
    top: -5px;
    position: absolute;
    right: 10px;
}
#change-pane-orientation-right{
    z-index: 1;
    margin-top: -1px;
    width: 29px ;
    height: 21px !important;
    color: white;
    background: none;
    border: none;
}
.pane-orientation-left-class{
    top:0px !important;
    left:0px !important;
    height:100% !important;
    width:50% !important;
}
.pane-orientation-right-class{
    top:0px !important;
    left:50% !important;
    height:100% !important;
    width:50% !important;
}
.pane-centered{
    top: 10% !important;
    left: 10% !important;
    height: 80% !important;
    width: 80% !important;
}
.pane-full-screen{
    top: 0px !important;
    left: 0px !important;
    height: 100% !important;
    width: 100% !important;
}
.pane-reduce-transition{
    transition-duration: 0s !important;
}
#component-factory-title {
	font-family: cursive;
    font-variant-caps: all-petite-caps;
    color: #e8e2e2;
    font-size: 18px;
    height: 35px;
    text-align: center;
    top: 100px;
    left: 100px;
    background-color: #326690;
    //: ;
    image: linear-gradient(270deg, #206e83 5%, #54c39a 80%);
    padding-right: 87px;
    font-size: larger;
    padding-top: 4px;
 }
#component-factory-title:hover{
	cursor: -webkit-grab; cursor: grab;
}
#component-factory-title:active{
	cursor: -webkit-grabbing; cursor: grabbing;
}
	

#iframecontainer{
width:100%;
height:100%;
position:absolute;
}
#iframeResult{
width:100%;
height:100%;
position:absolute;

}
.pane {
		display:	none; /* will appear when layout inits */
	}





.search-container{
display: block;
    width: 57%;
    left: 7px;
    position: absolute;
    top: 3px;
}


.search-container input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 12px;
  border: none;
}
.search-container >  img{
    left: 95px;
    position: absolute;
    top: 8px;
    width: 27px;
    height: 26px
 }
 .search-container button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.fa-search::before{
content:"\f002";
}

.save-editor-file{
    position: relative;
    height: 24px;
    top: 1.5px;
    right: -3px;
 }

.save-editor-img-icon{
     position: absolute;
    width: 100%;
    height: 100%;
}
.save-close-for-tab{
    position: relative;
    height: 74%;
    width: 57px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    top: 1px;
}

.file-get-section{
    width: max-content;
    height: 100%;
    position: relative;
}









//tab section css begins

/*
 CSS for the main interaction
*/
.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

/*
 Styling
*/
body {
  font: 16px/1.5em "Overpass", "Open Sans", Helvetica, sans-serif;
  color: #333;
  font-weight: 300;
}

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}

.tabset > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #8d8d8d;
}

.tabset > label:hover,
.tabset > input:focus + label {
  color: #06c;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #06c;
}

.tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}

.tab-panel {
  padding: 30px 0;
  border-top: 1px solid #ccc;
}

/*
 Demo purposes only
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 30px;
}

.tabset {
     max-width: 1300px;
    top: 5px;
    position: absolute;
}



/* search box css */


.search-box {
    padding: 0px 0px 7px 0px;
    height: 32px;
    width: 100%;

}


.search-box input[type=text], select {
    border: none;
    border-bottom: 2px solid #f1e7e7;
    background-color: inherit;
    display: block;
    width: 120px;
    font-weight: 900;
    font-family: cursive;
}

.search-box input[type=text]:focus, select:focus {
  outline: none;
}

.form-group {
  text-align: center;
  margin-bottom: 14px;
}

.form-group .line {
    height: 4px;
    width: 0px;
    background-color: #178f8c;
    display: inline-block;
    transition: .3s width ease-in-out;
    position: relative;
    top: -3px;
    left: 0px;
    }
.search-box input[type=text]:focus+.line, select:focus+.line {
    border: none;
    background-color: #06d6a0;
    display: block;
    width: 100%;
}

.button {
   position: relative;
    border: none;
    padding: 5px;
    width: max-content;
    height:30px !important;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    outline: none;
    color: #f9f2f2d;
    font-size: 14px;
    font-family: cursive;
    font-weight: 100;
    background: #7ebdd2;
}

.button:after {
  content: "";
  background: #5fd59f;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
#editor1-save-button{
    float: inherit;
    height: max-content;
}
#file-name{
    position: absolute;
    margin-left: 0pc;
    width: 100%;
    text-align: left;
    color: black;
    padding: 6px;
    font-size: 15px;
    font-family: cursive;
    background: #bde4f1;
    text-align: end;
    font-variant-caps :all-petite-caps;
}
#html-renderer-section{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 94%;
    z-index: 4;
    left: 1px;
    display:none;
    background-color: #f4f7f9;
}
#main-sections {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 94%;
    z-index: 4;
    left: 1px;
}

#tab-options-section{
    height: 100%;
    top: 0px;
    position: relative;
}

.tab-options{
    position: absolute;
    left: 0%;
    height: 91%;
    display: flex;
    flex-wrap: nowrap;
    width: 78.5%;
    column-gap: 6px;
    top: 3px;
     }
.tab-options-button{
    width: max-content;
    height: 65%;
    position: relative;
    margin-top: 5px;
    padding: 5px;
    top: 0px;
    margin-left: 0px;
    --darkreader-inline-bgimage: initial;
    --darkreader-inline-bgcolor: #577c64;
    }


/*create component dialog css*/
  .ui-widget-header {
          background:   #a3d4e4 !important;
          font-style:fantacy;
    }
  .create-component-dialog{
    width: 632px;
    max-height: none;
    left: -17px;
    top: -12px;
    left: -20px;
    min-height: 100% !important;
    min-width: 102.8% !important
}
  .ui-dialog .ui-dialog-content{
    background:None;
    min-width: 102.8% !important
  }
  .ui-widget-content{
    background:#232b5d;
    color:white;
  }
.no-close .ui-dialog-titlebar-close {display: none }

 .ui-dialog-buttonset{
        position: absolute;
        width: 55px;
        top: 3px;
        right: 143px;
        display:flex;
    }
 #cke_1_contents{
    height:69.5vh !important;
 }
.cm-s-material{
    height:100% !important;
}

.create-component{
        height: 36%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px;
    width: 30%;

    }










/*progress bar for page load */
.progress {
      position: relative;
      height: 6px;
      display: block;
      width: 100%;
      background-color: white;
      border-radius: 2px;
      background-clip: padding-box;
      /*margin: 0.5rem 0 1rem 0;*/
      overflow: hidden;
      z-index:5;
    }
    .progress .indeterminate {
background-color:black; }
    .progress .indeterminate:before {
      content: '';
      position: absolute;
      background-color: #2C67B1;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
              animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; }
    .progress .indeterminate:after {
      content: '';
      position: absolute;
      background-color: #2C67B1;
      top: 0;
      left: 0;
      bottom: 0;
      will-change: left, right;
      -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
              animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
      -webkit-animation-delay: 1.15s;
              animation-delay: 1.15s; }

    @-webkit-keyframes indeterminate {
      0% {
        left: -35%;
        right: 100%; }
      60% {
        left: 100%;
        right: -90%; }
      100% {
        left: 100%;
        right: -90%; } }
    @keyframes indeterminate {
      0% {
        left: -35%;
        right: 100%; }
      60% {
        left: 100%;
        right: -90%; }
      100% {
        left: 100%;
        right: -90%; } }
    @-webkit-keyframes indeterminate-short {
      0% {
        left: -200%;
        right: 100%; }
      60% {
        left: 107%;
        right: -8%; }
      100% {
        left: 107%;
        right: -8%; } }
    @keyframes indeterminate-short {
      0% {
        left: -200%;
        right: 100%; }
      60% {
        left: 107%;
        right: -8%; }
      100% {
        left: 107%;
        right: -8%; } }


/* Dragbar for general notes*/
// Variables
$black: #3C3530;
$green: #AACD6E;
$gray: #C5C6B6;




#main-sections {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100%;
  height: 100%;
}

.split__left {
  width: 50%;
  background-color: $green;
}

.split__right {
  flex: 1; // the right panel will stretch the bg color
  background-color: $gray;
}

.split__bar {
   width: 6px;
    height: 100%;
    cursor: col-resize;
    position: absolute;
    z-index: 5;
    left: 19.4%;
    top: 1px;
}
.split__bar:hover{
    background-color: #14de5c;
}
.file-factory-split-bar{
   width: 6px;
    height: 100%;
    cursor: col-resize;
    position: absolute;
    z-index: 5;
    left:240px;
    top: 1px;
}
.file-factory-split-bar:hover{
    background-color: #14de5c;
}
#markup_editor{
    max-height: none;
    width: 542px;
    height: 528px;
    min-height: 96% !important;
    min-width: 104% !important;
    margin-top: -1px !important;
    margin-left: -19px !important;
}
.main-section-wrapper-class{
}
#tabs-container-button-section{
    width: 100px;
    display: flex;
    position: absolute;
    right: 12px;
    margin-top: 4px;
}

/*html -editor*/
#component-tabs{
    display: flex;
    height: 92%;
    justify-content: center;
    column-gap: 7px;
    padding: 21px;
    flex-wrap: wrap;
    width: 51%;
    overflow: scroll;
    margin-left: 48%;
}

/*html editor dialog css*/
.ui-dialog .success-dialog{
    top:50px;
    left:0px;
    height:93%;
}
.ui-dialog-titlebar{
    padding-top: 1px;
    position: relative;
    padding-left: 10px;
    left: -5px;
    top: -3px;
    width: 102%;
}

.ui-dialog-titlebar-close{
    position: absolute;
    right: 2.3em !important;
    top: 50%;
    width: 20px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 20px;
}
.ui-dialog-titlebar-close:focus{
outline:none !important;
}
.ui-widget-content{
    border-radius: 0%;
}
.ui-widget-header {
 background: #232b5d;
}




