
.wrapper {
    margin-top: 5px;
    height: calc(100% - 36px);
    background-color: #fff;
    width: 100%;
    padding-left: 10pt;
    padding-right: 10pt;
}
#quick-file-title{
    margin: 0;
    padding-bottom: 5pt;
    border-bottom: 1px solid #1b1010;
    display:none;
}
input[type="text"] {
  height: 20pt;
  width: 150px;
  padding: 10px;
  border: 1px solid black;
  outline: none;
  font-size: 14px;
  margin-top: 5pt;
}
.options {
    z-index: 100;
    width: 56%;
    margin-top: 0px;
    position: relative;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-top: 6px;
    display: none;
    height: 40px;
}

.quick-notes-top-section{
    display: flex;
    padding-top: 7px;
    column-gap: 30px;
    justify-content: flex-end;
}
#quick-notes-setting{
    width: 25px;
    height: 25px;
    top: 3px;
    position: relative;
}

#quick-file-editor {
       background-color: #ffffff;
    border: none;
    top: -1px;
    position: relative;
    outline: none;
    width: 95%;
    height: inherit;
    border: 1px solid white;
}
.seperator {
    border: 1px solid #d6b8b8;
    height: 1px;
    width: 30px;
    margin-left: 6px;
  }
 .quick-file-editor-button {
       margin-top: 10;
    padding: 0;
    height: 30pt;
    width: 30pt;
    background-color: #ffff;
    border: none;
    cursor: pointer;
    color: #333;
    display: inline;
    position: relative;
    top: -7px;
    overflow-x: scroll;
    overflow-y: noscroll;
}
.quick-file-editor-button:active {
  color: #333;
}
select {
  width: 38px;
  height: 30pt;
  -webkit-appearance: none;
  border: 0;
  padding-left: 5pt;
  padding-right: 5pt;
  outline: none;
}
input[type="number"] {
    height: 30pt;
    border: 0;
    padding: 0;
    padding-left: 5pt;
    padding-right: 5pt;
    outline: none;
    width: 44px;
    margin-left: 0px;
}