.overlay {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: transparent;
    overflow-y: hidden;
    transition: 0.5s;
    z-index: 4;
    height:100%;
}
#hider-for-resize{
	height:0%;
	width:100%;
	top:0px;
	position:absolute;
}
@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}
.up-missile{
    background-color: #a7cd4e;
    z-index: 1;
    padding-left: 20px;
    padding-right: 20px;
    border:1px solid;
}
#up-missile{
	position:absolute;
    left:51%;
    z-index: 1;
}
#down-missile{
	position:absolute;
    left:44%;
    z-index: 1;
}
#result-iframe{
	width:99%;
    height:20px;
    overflow:auto;
    transition:0.5s;
    min-height:20px;
    background: linear-gradient(270deg, #206e83 5%, #60D69F 80%);
}
#iframe-dragger-button{
	width:100%;
    height:40px;
    top:-20px;
    position:relative;
    background-image: linear-gradient(270deg, #60D69F 0%, #19A0C0 100%);
    cursor:grab;
    border:1px solid white;
}
#iframe-dragger-button:click{
    cursor:grabbing;
}

#video-section{
    height: 500px;
    overflow-y: scroll;
    width: 101%;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.video-name {
    padding: 10px;
    font-family: cursive;
    box-sizing: content-box;
    font-variant-caps: small-caps;
    text-align: center;
}
.video-content{
height:230px;
}
