@charset "ISO-8859-1";
/*!
 * dtree.css v1.0.0
 * mefe.net
 * 2014-08-21

body
{
    font-family: "Verdana";
    font-size: 11px;
}

ul, li
{
    margin:0px;
    padding: 0px;
    list-style-type: none;

}

a
{
    height: 18px;
    display: inline-block;
    padding-top: 0px;
    color:#000;
    text-decoration: none;
}

.text
{
    height: 18px;
    display: inline-block;
    float: left;
    text-decoration: none;
}


li
{
    height: 18px;
    display: block;
    width: 300px;
    line-height: 20px;
}

li.folder-group
{
    height: auto;

}

.folder-group ul
{
   padding-left: 20px;
   display: none;
}

.folder
{
    background: url('../images/misc.png') 0px -39px no-repeat;
    padding-left: 20px;
     height: 18px;
    display: inline-block;
    float: left;
    transition: all 0.5s ease-in-out;
}

.folder-open
{
    background: url('../images/misc.png') -21px -39px no-repeat;
    padding-left: 20px;
    height: 18px;
    display: inline-block;
    float: left;
    transition: all 0.5s ease-in-out;
}

.main
{
    width: 18px;
    height: 18px;
    display: inline-block;
    float: left;
}

.folder-group
{
    padding: 6px;
    margin-top: 8px;
}

.folder-group.last
{
   background: none;
}
.open-close-folder{
    position: absolute;
    left: 15px;
    font-size: 22px;
    font-family: cursive;
    margin-left: -1px;
    margin-top: -3px;
    cursor: pointer;
}
.plus
{
    padding-left: 20px;
    display: inline-block;
    height: 18px;
    float: left;
}

.last .plus
{
    background: url('../images/misc.png') 0px -82px no-repeat;
    padding-left: 20px;
    display: inline-block;
    height: 18px;
    float: left;
}

.folder-group.last .minus
{
    background: url('../images/misc.png') -18px -82px no-repeat;
    padding-left: 20px;
    display: inline-block;
    height: 18px;
    float: left;
}

.minus
{
    background: url('../images/misc.png') -18px -59px no-repeat;
    padding-left: 20px;
    display: inline-block;
    height: 18px;
    float: left;
}

.page
{
    background: url('../images/misc.png') no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    float: left;
}

.join
{
    background: url('../images/misc.png') 0 -20px no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    float: left;
}

.join-last .join
{
    background: url('../images/misc.png') -18px -20px no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    float: left;
}
 */





/*custome tree css*/

ul, #myUL {
  list-style-type: none;
}

#myUL {
    margin: 0px 0 0 5px;
    padding: 0;
    overflow: scroll;
    height: 86%;
    width: 100%;
    left: -10px;
    position: relative;
}
.folder-section{
    display: grid;
    grid-template-columns: max-content max-content;
    width: 700px;
    margin-left: -10px;
}
.folder {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: max-content;
    padding: 5px;
    padding-left: 13px;
    color: #362e77;
}

.folder::before {
  color: black;
  display: inline-block;
  margin-right: 6px;
  margin-top:10px;
}

.three-dots{
	font-size: 24px;
    position: relative;
    width: max-content;
    cursor: pointer;
    right: 0px;
    display:none;
}
.three-dots:hover{
	font-size: 26px;
    transition-duration:0.5s;
}
.file > .three-dots {
    margin-top: -10px;
}
.folder-section:hover  .three-dots{
	display: block;
}
.folder-section:hover{
    background: #cce2d6;
    color: #362e77;
}

.file:hover  .three-dots{
	display: block;
}
.folder-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */'
  transform: rotate(90deg);
}
.open-close-folder{
    position: relative;
    left: -15px;
    font-size: 22px;
    font-family: cursive;
    left: 0px;
    top:1px;
    cursor: pointer;
}
.file{
    height: max-content;
    width: 80px;
    right: 11px;
    display: grid;
    grid-template-columns: 2fr 0.5fr;
    width: max-content;
    padding-left: 5px;
}
li.file:hover {
    background: #cce2d6;
}
.nested {
    display: none;
    left: -24px;
    position: relative;
    margin-top: -6px !important;
}
.nested > li {
    width: 100%;
    cursor: pointer;
    margin-top: 5px;
    min-width: 210px;
    max-width: 100%;
}
.active {
  display: block;
}

.project-file-active{
           border-left: 3px solid #e9f3ed;
    padding-left: 30px;
    border-right: 0px solid #bcd2c5;
    padding-right: 30px;
    border-top: 0.01px solid #e9f3ed;
    border-bottom: 0.01px solid #e9f3ed;
    margin-left: 1px;
    color: #29278e !important;
    border-left: 0px solid #cba8d2;
    font-weight: 700 !important;
    margin-left: -30px;
}
.file-click{
    display: grid;
    grid-template-columns: 0.3fr max-content;
    text-decoration: none !important;
}
.tree-note-file-name-div{
       width: 15px;
    height: 15px;
    margin-top: 7px;
}
.tree-note-file-name{
    padding: 4px;
    padding-left: 11px;
    padding-top: 6px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", Ubuntu, "Droid Sans", "Helvetica Neue", sans-serif;
    width: inherit;
}
span.tree-note-file-name:hover {
    color: #362e77;
}
#myUL:hover::-webkit-scrollbar-thumb{
    width : 6px;
    display :block !important;
    overflow: scroll;
}
#tree-note-icons-panel{
    left: 41px;
    position: relative;
    margin-top: 10px;
    display: flex;
    column-gap: 11px;
    justify-content: space-between;
    width: 167px;
    margin-left: -13px;
    height: 35px;
    }
#tree-note-icons-panel:hover {
    border: 1.9px solid #aaddbe;
    padding: 5px;
    border-radius: 15px;
    justify-content: space-evenly;
}
.tree-note-icons{
    width: 20px;
    height: 20px;
    background: #e9f3ed;
}
