@charset "ISO-8859-1";
/*!
 * dtree.css v1.0.0 
 * mefe.net
 * 2014-08-21

body
{
    font-family: "Verdana";
    font-size: 11px;
}

ul, li
{
    margin:0px;
    padding: 0px;
    list-style-type: none;

}

a
{
    height: 18px;
    display: inline-block;
    padding-top: 0px;
    color:#000;
    text-decoration: none;
}

.text
{
    height: 18px;
    display: inline-block;
    float: left;
    text-decoration: none;
}


li
{
    height: 18px;
    display: block;
    width: 300px;
    line-height: 20px;
}

li.folder-group
{
    height: auto;

}

.folder-group ul
{
   padding-left: 20px;
   display: none;
}

.folder
{
    background: url('../images/misc.png') 0px -39px no-repeat;
    padding-left: 20px;
     height: 18px;
    display: inline-block;
    float: left;
    transition: all 0.5s ease-in-out;
}

.folder-open
{
    background: url('../images/misc.png') -21px -39px no-repeat;
    padding-left: 20px;
    height: 18px;
    display: inline-block;
    float: left;
    transition: all 0.5s ease-in-out;
}

.main
{
    width: 18px;
    height: 18px;
    display: inline-block;
    float: left;
}

.folder-group
{
    padding: 6px;
    margin-top: 8px;
}

.folder-group.last
{
   background: none;
}
.open-close-folder{
    position: absolute;
    left: 15px;
    font-size: 22px;
    font-family: cursive;
    margin-left: -1px;
    margin-top: -3px;
    cursor: pointer;
}
.plus
{
    padding-left: 20px;
    display: inline-block;
    height: 18px;
    float: left;
}

.last .plus
{
    background: url('../images/misc.png') 0px -82px no-repeat;
    padding-left: 20px;
    display: inline-block;
    height: 18px;
    float: left;
}

.folder-group.last .minus
{
    background: url('../images/misc.png') -18px -82px no-repeat;
    padding-left: 20px;
    display: inline-block;
    height: 18px;
    float: left;
}

.minus
{
    background: url('../images/misc.png') -18px -59px no-repeat;
    padding-left: 20px;
    display: inline-block;
    height: 18px;
    float: left;
}

.page
{
    background: url('../images/misc.png') no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    float: left;
}

.join
{
    background: url('../images/misc.png') 0 -20px no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    float: left;
}

.join-last .join
{
    background: url('../images/misc.png') -18px -20px no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    float: left;
}
 */





/*custome tree css*/

ul, #myUL {
  list-style-type: none;
}

#myUL {
  margin: 0;
  padding: 0;
  overflow: scroll;
}


.folder {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: max-content;
    padding: 5px;
    padding-left: 20px;
    background: #e9f3ed;
}

.folder::before {
  color: black;
  display: inline-block;
  margin-right: 6px;
  margin-top:10px;
}

.folder-down::before {
  -ms-transform: rotate(90deg); /* IE 9 */
  -webkit-transform: rotate(90deg); /* Safari */'
  transform: rotate(90deg);
}
.open-close-folder{
    position: relative;
    left: -15px;
    font-size: 22px;
    font-family: cursive;
    left: -10px;
    top:1px;
    cursor: pointer;
}
.file{
    height: 10px;
    width: 80px;
    right: 11px;
}
.nested {
    display: none;
    left: -4px;
    position: relative;
    background: #e9f3ed;
    margin-top: -12px !important;
}
.nested > li {
    width: max-content;
    padding: -4px;
    cursor: pointer;
    margin-top: 25px;
}
.active {
  display: block;
}



